{% extends 'DashBoard.html.twig' %}

{% block title %}TacheNormale index{% endblock %}

{% block body %}
    <h1>TacheNormale index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>DateCreation</th>
                <th>DateAchevement</th>
                <th>Achevement</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tache_normale in tache_normales %}
            <tr>
                <td>{{ tache_normale.id }}</td>
                <td>{{ tache_normale.nom }}</td>
                <td>{{ tache_normale.description }}</td>
                <td>{{ tache_normale.dateDebut ? tache_normale.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tache_normale.dateFin ? tache_normale.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tache_normale.dateCreation ? tache_normale.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tache_normale.dateAchevement ? tache_normale.dateAchevement|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tache_normale.achevement }}</td>
                <td>{{ tache_normale.status }}</td>
                <td>
                    <a href="{{ path('app_tache_normale_show', {'id': tache_normale.id}) }}">show</a>
                    <a href="{{ path('app_tache_normale_edit', {'id': tache_normale.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tache_normale_new') }}">Create new</a>
{% endblock %}
