{% extends 'DashBoard.html.twig' %}

{% block title %}Projet{% endblock %}

{% block body %}
<h1>Projet</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ projet.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ projet.nom }}</td>
        </tr>
        <tr>
            <th>Status_achevement</th>
            <td>{{ projet.statusAchevement }}</td>
        </tr>
        <tr>
            <th>Archive</th>
            <td>{{ projet.archive ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>DateDebut</th>
            <td>{{ projet.dateDebut ? projet.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>DateFin</th>
            <td>{{ projet.dateFin ? projet.dateFin|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ projet.description }}</td>
        </tr>
    </tbody>
</table>


<div class="navbar-nav ml-auto">
    <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-plus fa-fw"></i>
            <span>Ajouter tâche</span>
            <!-- Counter - Alerts -->
        </a>
        <!-- Dropdown - Alerts -->
        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
            aria-labelledby="alertsDropdown" style="padding: 5px 15px 5px 15px">
            <h6 class="dropdown-header">
                Ajouter une Tâche   
            </h6>
            <div class="form-group">
                {{ form_start(form, {
                    'attr': {
                        'action': path('app_tache_projet_new_projet', {'projet': projet.id})
                    }
                })}}
                {{ form_row(form.snom) }}
                {# {{ form_row(form.dateDebut) }} #}
                {{ form_row(form.dateFin) }}
                {{ form_row(form.projet) }}
                {{ form_row(form.assigne) }}
                <!--
                <div>
                    <label for="tache_projet_assigne">Assigné à</label>
                    <select id="tache_projet_assigne" name="tache_projet[assigne]" class="form-control mb-3">
                        {# <option value="1">1</option> #}
                        {% for row in membreEquipe %}
                            <option value="{{ row.id }}">{{ row.membre.employee.nom }} {{ row.membre.employee.prenom }}</option>
                        {% endfor %}
                    </select>
                </div>
                -->
                
                

                <button class="btn btn-primary" type="submit">Ajouter</button>
                {{ form_end(form) }}
            </div>
        </div>
    </li>
</div>
<div>

    
</div>
{# <a href="{{ path('app_projet_index') }}">back to list</a> #}

<a href="{{ path('app_projet_edit', {'id': projet.id}) }}">edit</a>

{{ include('projet/_delete_form.html.twig') }}
{% endblock %}