{% extends 'base.html.twig' %}

{% block title %}DocumentProjet{% endblock %}

{% block body %}
    <h1>DocumentProjet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ document_projet.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ document_projet.nom }}</td>
            </tr>
            <tr>
                <th>Chemin</th>
                <td>{{ document_projet.chemin }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>{{ document_projet.tags }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_document_projet_index') }}">back to list</a>

    <a href="{{ path('app_document_projet_edit', {'id': document_projet.id}) }}">edit</a>

    {{ include('document_projet/_delete_form.html.twig') }}
{% endblock %}
